.App {
  text-align: center;
}

.navbar {
  background: #33b5ff;
  padding: 24px;
}
.beer-card {
  text-align: left;
}
.beer-card img {
  width: 100%;
}
.beer-card-body {
  padding: 0px 20px;
}

.list a:link {
  text-decoration: none !important
}

.list{
  max-width: 551px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; 
}

.beer-list-card  {
  display: flex;
  border-bottom: 1px solid gray;
  padding: 10px;
 
}
.beer-list-card img{
  width: 50px; 
  margin: 10px 40px;
}